.DS_Store
.tags*
/.idea/
/browser/resources/brave_extension/
/components/brave_webtorrent/extension/out/
/components/brave_rewards/resources/extension/brave_rewards/out/
/components/brave_sync/extension/brave-crypto/
/components/brave_sync/extension/brave-sync/
/dist/
/out/
/vendor/*
!/vendor/bat-native-ledger
!/vendor/CPPLINT.cfg
node_modules/
*.xcodeproj
*.swp
*.pyc
*.VC.db
*.VC.VC.opendb
.vs/
.vscode/
*.vcxproj
*.vcxproj.user
*.vcxproj.filters
*.sln
debug.log
npm-debug.log
*~
CMakeLists.txt
cmake-build-debug/
coverage/
/build/rustup/
components/brave_rewards/extension/brave_rewards/out/17d173bb066b4ac1fa10c2409b421e8e.woff2
components/brave_rewards/extension/brave_rewards/out/1bb9aa85741c6d1c077f043324aae835.svg
components/brave_rewards/extension/brave_rewards/out/21bfb482964742768c5020312af36224.svg
components/brave_rewards/extension/brave_rewards/out/2212626fea093a7ce9ed123a8137874e.woff2
components/brave_rewards/extension/brave_rewards/out/2e7994eaf768ee4a99272ea96cb39849.svg
components/brave_rewards/extension/brave_rewards/out/314e7529efec41c8867019815f4d8dad.svg
components/brave_rewards/extension/brave_rewards/out/41943a7d37ac5c61823a2a17c4e06070.svg
components/brave_rewards/extension/brave_rewards/out/4364e454dba7ea966b117f643832e871.svg
components/brave_rewards/extension/brave_rewards/out/4697127f5404662b027f8dd436642cf7.svg
components/brave_rewards/extension/brave_rewards/out/51a13e5e543f312a990d4fd7e741d427.png
components/brave_rewards/extension/brave_rewards/out/59c5f41da006b5e45f4294f6816ec5a3.svg
components/brave_rewards/extension/brave_rewards/out/59ec9e5cdea1df1630f8c6e2b7a27ede.png
components/brave_rewards/extension/brave_rewards/out/5fb233db2e5287e5d5bef4ad81f28ad6.woff2
components/brave_rewards/extension/brave_rewards/out/6517b078dcd47a8540230a5453d53927.svg
components/brave_rewards/extension/brave_rewards/out/674f50d287a8c48dc19ba404d20fe713.eot
components/brave_rewards/extension/brave_rewards/out/6c337c63662ee0ba4e57f6f8156d69ce.svg
components/brave_rewards/extension/brave_rewards/out/6dd79d472f9c73429b26dae4ef14575e.svg
components/brave_rewards/extension/brave_rewards/out/817b30cf208868ef041477ce999af40b.woff2
components/brave_rewards/extension/brave_rewards/out/8640d24b8340ae4127895e4372aa295b.svg
components/brave_rewards/extension/brave_rewards/out/878e89ddb547d70019456c4792ce1a23.svg
components/brave_rewards/extension/brave_rewards/out/8a06c170adbf19e0dffcbe868719e6ce.woff2
components/brave_rewards/extension/brave_rewards/out/912ec66d7572ff821749319396470bde.svg
components/brave_rewards/extension/brave_rewards/out/983d8695aa002ca6bd477e212eb0aa93.svg
components/brave_rewards/extension/brave_rewards/out/a6abd363c58f91a260f94f5beb32b172.png
components/brave_rewards/extension/brave_rewards/out/af7ae505a9eed503f8b8e6982036873e.woff2
components/brave_rewards/extension/brave_rewards/out/b06871f281fee6b241d60582ae9369b9.ttf
components/brave_rewards/extension/brave_rewards/out/b188954ed63068df7cbdd685eaf0a2b0.woff2
components/brave_rewards/extension/brave_rewards/out/brave_adblock.bundle.js
components/brave_rewards/extension/brave_rewards/out/brave_new_tab.bundle.js
components/brave_rewards/extension/brave_rewards/out/brave_rewards.bundle.js
components/brave_rewards/extension/brave_rewards/out/brave_rewards_panel.bundle.js
components/brave_rewards/extension/brave_rewards/out/brave_rewards_panel_background.bundle.js
components/brave_rewards/extension/brave_rewards/out/brave_webtorrent.bundle.js
components/brave_rewards/extension/brave_rewards/out/brave_webtorrent_background.bundle.js
components/brave_rewards/extension/brave_rewards/out/brave_welcome.bundle.js
components/brave_rewards/extension/brave_rewards/out/c2217e15737be3c82f5fef818d3fd26c.png
components/brave_rewards/extension/brave_rewards/out/c838a7c27758db13e106ecfccffacff3.woff2
components/brave_rewards/extension/brave_rewards/out/c9255cc2aa3d81ca6328e82d25a95766.png
components/brave_rewards/extension/brave_rewards/out/d8b8faf285739ea99b0469855a73fb45.svg
components/brave_rewards/extension/brave_rewards/out/de652f63aa5671c535afca303c5816eb.woff2
components/brave_rewards/extension/brave_rewards/out/e0d5b857416a206ba4d7096e598ad6d1.svg
components/brave_rewards/extension/brave_rewards/out/e9d936c617aad55fe1bc7a001f2defb4.svg
components/brave_rewards/extension/brave_rewards/out/fc31b8d3f7f3d32eec78365212f3002b.png
components/brave_rewards/extension/brave_rewards/out/fd85070af5114d6ac462c466e78448e4.svg
components/brave_rewards/extension/brave_rewards/out/fee66e712a8a08eef5805a46892932ad.woff
